body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  display: flex;
}

.post-container {
  width: 95%;
  margin: auto 8%;
  padding: 20px;
  display: block;
}

.bio-container {
  width: 90%;
  margin: auto;
  padding: 20px;
  display: flex;
}

.profile {
  display: block;
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
  width: 60%;
  position: relative;
}

.bio-profile {
  display: block;
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
  width: 71%;
  position: relative;
}

.img-profile {
  display: block;
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;
  margin: 10px;
  width: 80px;
}

.img {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  margin-right: 15px;
}

.profile-info {
  flex-grow: 1;
}

.user-name {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.user-posts {
  margin: 0;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.user-posts-up {
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

.pagination-button {
  display: block;
  margin: 0 auto;
  padding: 10px;
}
